{# assume-blank #}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Custom Home Page</title>
<style>

html, body, * {
  color: white;
  background: black;
  font-family: 'Roboto', sans-serif;
}

body {
  /* Need to center our message nicely */
  display: flex;
  justify-content: center;
  align-items: center;
  /* also align vertically in viewport */
  height: 100vh;
  margin: 0;
  text-align: center;
}

</style>

</head>
<body>
All of the home page content blocks have been overridden.

</body>
</html>
