{% block head_scripts %}
  <script type="module" src="/ah_filetree/static/js/sub-dir.js"></script>
  <script type="module" src="/ah_filetree/static/js/file.js"></script>
  <script type="module" src="/ah_filetree/static/js/file-tree.js"></script>
  <style>
    .page-container {
      display: flex;
      height: 100vh;
    }
    .left-side {
      width: 280px;
      border-right: 2px solid #ccc;
      overflow-y: auto;
      height: 100vh;
    }
    .main {
      flex-grow: 1;
      overflow-y: auto;
      width: calc(100% - 280px);
    }
  </style>
{% endblock %} 

{% block pre_content %}
      <file-tree dir="/"></file-tree>
{% endblock %}


