global-exclude *.py[cod]
prune src/ah/local
prune src/ah/data
prune src/ah/personas
prune src/ah/static
prune src/ah/imgs
prune src/ah/models

include src/ah/coreplugins/agent/*.j2
include src/ah/coreplugins/chat/templates
include src/ah/coreplugins/chat/static
include src/ah/coreplugins/admin/templates
include src/ah/coreplugins/admin/static
include *templates*
