global-exclude *.py[cod]
prune src/ah/local
prune src/ah/data
prune src/ah/personas
prune src/ah/static
prune src/ah/imgs
prune src/ah/models

recursive-include src/xingen/coreplugins/agent *.j2
recursive-include src/xingen/coreplugins/chat/templates *
recursive-include src/xingen/coreplugins/chat/static *
recursive-include src/xingen/coreplugins/admin/templates *
recursive-include src/xingen/coreplugins/admin/static *
recursive-include src/xingen/coreplugins/index/static *
recursive-include src/xingen/coreplugins/index/templates *
recursive-include srx/xingen/coreplugins/index *.json
recursive-include src/xingen/coreplugins/home/static *
recursive-include src/xingen/coreplugins/home/templates *
recursive-include src/xingen/coreplugins/index *
recursive-include src/xingen/coreplugins/agent *
recursive-include src/xingen/coreplugins/persona *

