facefusionlib
insightface
onnxruntime
nanoid
accelerate
diffusers
ollama
torch
tokenizers==0.15.2
transformers
asyncio
requests
sse_starlette

pillow>=9.5.0
protobuf>=4.23.2
addict
future
lmdb
numpy
opencv-python
Pillow
pyyaml
requests
scikit-image
scipy
tb-nightly
torchvision
tqdm
yapf
lpips

fastapi
gdown
partial_json_parser
pluggy

