#facefusionlib
#insightface
#onnxruntime
nanoid
accelerate
diffusers
ollama
torch
tokenizers
transformers
asyncio
requests
sse_starlette

pillow>=9.5.0
protobuf>=4.23.2
addict
future
lmdb
numpy
opencv-python
Pillow
pyyaml
requests
scikit-image
scipy
tb-nightly
torchvision
tqdm
yapf
lpips

fastapi
gdown
partial-json-parser
pluggy
runpod
together

openai

python-multipart
termcolor
gitignore_parser

anthropic
loguru
python-pptx
openpyxl

PyJWT
pytz
colored

python-docx
unstructured[all-docs]
