html, body, input, * {
  background-color: #030303;
  color: #f0f0f0;
  font-family: ui-sans-serif, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, Helvetica, "Apple Color Emoji", Arial, "Segoe UI Emoji", "Segoe UI Symbol";
}

input::placeholder, textarea::placeholder {
  background-color: #030303;
  color: #f0f0f0;
}

.chat-log {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

chat-message {
  max-width: 69%;
  padding: 10px 20px;
  margin: 10px 0;
  display: inline-block;
  background-color: transparent;
}

.outer-msg {
  display: flex;
  flex-direction: row;
}

img.avatar {
  height: 64px;
  display: inline-block;
}

.message {
  padding: 10px 10px;
  margin: 0;
  background-color:  transparent;
}

.user {
  align-self: flex-start;

}

.msg-user {
  background-color: #333;
  border-radius: 30px; 
  box-sizing: border-box;
}


.ai {
  align-self: flex-end;
}

.msg-ai {
  background-color: #080808;
  border: 1px solid #181818;
}

.spacer {
  height: 0.5em;
  display: block;
  background-color: transparent;
}

textarea {
  background-color: #030303;
  color: #f0f0f0;
  width: 90%;
  min-height: 1em;
  max-height: 500px; /* Maximum height before scrolling */
  overflow-y: auto; /* Allows the textarea to expand as the user types */
  scrollbar-width: none;
  padding: 10px;
  border-radius: 15px;
}

button {
/* style buttons with contemporary look and dark theme */ 
  background-color: #333;
  color: #f0f0f0;
  border-radius: 15px;
  padding: 10px 20px;
  margin: 10px;
}


