<!DOCTYPE html>
<html>
<head>
    <title>XinGen Agent Host</title>
    <link rel="stylesheet" type="text/css" href="/home/static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/home/static/css/default.css">
    <link rel="stylesheet" type="text/css" href="/home/static/css/home.css">
    <link rel="stylesheet" type="text/css" href="/home/static/css/update.css">
</head>
<body>
    <img class="logo" src="/home/static/imgs/logo.png" alt="logo">
    <h1>XinGen Agent Host</h1>
    <p>
        <a href="/admin">Admin</a>
    </p>
    <h2>Click an Agent to Start a Chat Session:</h2>
    <ul>
        {% for agent in agents %}
        <li><a href="/agent/{{ agent }}">{{ agent }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
