{% block head_scripts %}
<-- <script type="module" src="/admin/static/js/mcp-manager.js"></script> -->
<!-- <script type="module" src="/admin/static/js/mcp-publisher.js"></script> -->
{% endblock %}

{% block content %}
<!--
<details>
  <summary><span class="material-icons">dns</span>MCP Server Management</summary>
  <div class="details-content">
    <mcp-manager theme="dark" scope="local"></mcp-manager>
  </div>
</details>
-->
{% endblock %}
