<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the Home Page</h1>
    <p>
        <a href="/admin">Admin</a>
    </p>
    <h2>Agents</h2>
    <ul>
        {% for agent in agents %}
        <li><a href="/{{ agent }}">{{ agent }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
