{% block content %}
  {{ super() }}
  <details>
    <summary>Task Editor</summary>
    <task-editor></task-editor>
  </details>
{% endblock %}

{% block head %}
  {{ super() }}
  <script type="module" src="/ah_tasks/static/js/task-editor.js"></script>
  <link rel="stylesheet" href="/ah_tasks/static/css/task-editor.css">
{% endblock %}
