{% block head %}
<script type="module" src="/index/static/js/index-manager.js"></script>
{% endblock %}

{% block content %}
<details>
  <summary><span class="material-icons">inventory_2</span>
  <span>Index Manager</span>
  </summary>
  <div class="details-content">
    <index-manager theme="dark" scope="local"></index-manager>
  </div>
</details>
{% endblock %}
