{% block head_scripts %}
  <script type="module" src="/ah_history/static/js/chat-history.js"></script>
  <style>
    .page-container {
      display: flex;
      height: 100vh;
    }
    .left-side {
      width: 280px;
      border-right: 2px solid rgba(200,200,200,0.1);
      overflow-y: auto;
      height: 100vh;
    }
    .main {
      flex-grow: 1;
      overflow-y: hidden;
      width: calc(100% - 280px);
    }
  </style>
{% endblock %} 


{% block pre_content %} 
<h2>Recent Sessions</h2>
<chat-history agent_name="{{ agent_name }}" user="{{ user }}" ></chat-history>
{% endblock %}
